* {
    box-sizing: border-box;
    margin: 0 auto;
}

.body {
    background-color: rgb(247, 238, 217);
    padding-bottom: 30px;
}

.container {
    max-width: 1600px;
    padding: 20px 0 0;
}

.list_block {
    width: 88%;
	border-collapse: collapse;
}

.input_block {
    width: 66%;
}

.input_elements {
    margin-top: 30px;
    margin-right: 70px;
}

.input_btn {
    background-color: rgb(13, 166, 13);
    cursor: pointer;
}

.table_head td,
.input_blocks td {
	border: 1px solid black;
	padding: 10px;
    text-align: center;
}

.error {
    opacity: 0;
    visibility: hidden;
    color: red;
    font-size: 32px;
}

.error.show {
    opacity: 1;
    visibility: visible;
}

.edit-btn {
    background-color: rgb(199, 201, 65);
    cursor: pointer;
}

.delete-btn {
    background-color: rgb(251, 97, 97);
    cursor: pointer;
}
